<div class="menu menu-rounded menu-active-bg menu-state-primary menu-column menu-lg-row menu-title-gray-700 menu-icon-gray-500 menu-arrow-gray-500 menu-bullet-gray-500 my-5 my-lg-0 align-items-stretch fw-semibold px-2 px-lg-0"
     id="kt_app_header_menu" data-kt-menu="true">
    <!--begin:Menu item-->
    <div class="menu-item here show menu-here-bg menu-lg-down-accordion me-0 me-lg-2">
        <!--begin:Menu link-->
        <span class="menu-link">
													<a href="{% url 'inicio' %}" class="menu-title">Inicio</a>
													<span class="menu-arrow d-lg-none"></span>
												</span>

    </div>
    <!--end:Menu item-->
    <!--begin:Menu item-->
    {% if perms.dashboards.view_equipo %}
        <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
             data-kt-menu-placement="bottom-start"
             class="menu-item menu-lg-down-accordion me-0 me-lg-2">
            <!--begin:Menu link-->
            <span class="menu-link">
													<span class="menu-title">Vehiculos</span>
													<span class="menu-arrow d-lg-none"></span>
												</span>
            <!--end:Menu link-->
            <!--begin:Menu sub-->
            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown p-0 w-100 w-lg-850px">
                <!--begin:Dashboards menu-->
                <div class="menu-state-bg menu-extended overflow-hidden overflow-lg-visible"
                     data-kt-menu-dismiss="true">
                    <!--begin:Row-->
                    <div class="row">
                        <!--begin:Col-->
                        <div class="col-lg-12 mb-3 mb-lg-0 py-3 px-3 py-lg-6 px-lg-6">
                            <!--begin:Row-->
                            <div class="row">
                                <!--begin:Col-->
                                {% if perms.dashboards.view_equipo %}
                                    <div class="col-lg-6 mb-3">
                                        <!--begin:Menu item-->
                                        <div class="menu-item p-0 m-0">
                                            <!--begin:Menu link-->
                                            <a href="{% url 'dashboards:lista_equipo' %}"
                                               class="menu-link {% if 'equipo' in request.path %}active{% endif %}">
																				<span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
																					<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
																					<span class="svg-icon svg-icon-primary svg-icon-1">
																						<svg width="24" height="24"
                                                                                             viewBox="0 0 24 24"
                                                                                             fill="none"
                                                                                             xmlns="http://www.w3.org/2000/svg">
																							<rect x="2" y="2" width="9"
                                                                                                  height="9" rx="2"
                                                                                                  fill="currentColor"/>
																							<rect opacity="0.3" x="13"
                                                                                                  y="2" width="9"
                                                                                                  height="9" rx="2"
                                                                                                  fill="currentColor"/>
																							<rect opacity="0.3" x="13"
                                                                                                  y="13" width="9"
                                                                                                  height="9" rx="2"
                                                                                                  fill="currentColor"/>
																							<rect opacity="0.3" x="2"
                                                                                                  y="13" width="9"
                                                                                                  height="9" rx="2"
                                                                                                  fill="currentColor"/>
																						</svg>
																					</span>
                                                                                    <!--end::Svg Icon-->
																				</span>
                                                <span class="d-flex flex-column">
																					<span class="fs-6 fw-bold text-gray-800">Vehiculos</span>
																					<span class="fs-7 fw-semibold text-muted">Listado de todos los vehiculos</span>
																				</span>
                                            </a>
                                            <!--end:Menu link-->
                                        </div>
                                        <!--end:Menu item-->
                                    </div>
                                {% else %}{% endif %}
                                <div class="col-lg-6 mb-3">
                                    <!--begin:Menu item-->
                                    <div class="menu-item p-0 m-0">
                                        <!--begin:Menu link-->
                                        <a href="{% url 'dashboards:reporte_equipo' %}"
                                           class="menu-link {% if 'reporte' in request.path %}active{% endif %}">
																				<span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
																					<!--begin::Svg Icon | path: icons/duotune/graphs/gra001.svg-->
																					<span class="svg-icon svg-icon-dark svg-icon-1">
																						<svg width="24" height="24"
                                                                                             viewBox="0 0 24 24"
                                                                                             fill="none"
                                                                                             xmlns="http://www.w3.org/2000/svg">
																							<path opacity="0.3"
                                                                                                  d="M14 3V21H10V3C10 2.4 10.4 2 11 2H13C13.6 2 14 2.4 14 3ZM7 14H5C4.4 14 4 14.4 4 15V21H8V15C8 14.4 7.6 14 7 14Z"
                                                                                                  fill="currentColor"/>
																							<path d="M21 20H20V8C20 7.4 19.6 7 19 7H17C16.4 7 16 7.4 16 8V20H3C2.4 20 2 20.4 2 21C2 21.6 2.4 22 3 22H21C21.6 22 22 21.6 22 21C22 20.4 21.6 20 21 20Z"
                                                                                                  fill="currentColor"/>
																						</svg>
																					</span>
                                                                                    <!--end::Svg Icon-->
																				</span>
                                            <span class="d-flex flex-column">
																					<span class="fs-6 fw-bold text-gray-800">Reportes</span>
																					<span class="fs-7 fw-semibold text-muted">Filtrado y graficas</span>
																				</span>
                                        </a>
                                        <!--end:Menu link-->
                                    </div>
                                    <!--end:Menu item-->
                                </div>

                            </div>
                            <!--end:Row-->

                            <!--end:Landing-->
                        </div>
                        <!--end:Col-->
                        <!--begin:Col-->

                    </div>
                    <!--end:Row-->
                </div>
                <!--end:Dashboards menu-->
            </div><!--end:Menu sub-->
        </div>
    {% else %}{% endif %}
    {% if perms.dashboards.view_pieza or perms.dashboards.view.parte %}
        <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
             data-kt-menu-placement="bottom-start"
             class="menu-item menu-lg-down-accordion me-0 me-lg-2">
            <!--begin:Menu link-->
            <span class="menu-link">
													<span class="menu-title">Complementos</span>
													<span class="menu-arrow d-lg-none"></span>
												</span>
            <!--end:Menu link-->
            <!--begin:Menu sub-->
            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown p-0 w-100 w-lg-850px">
                <!--begin:Dashboards menu-->
                <div class="menu-state-bg menu-extended overflow-hidden overflow-lg-visible"
                     data-kt-menu-dismiss="true">
                    <!--begin:Row-->
                    <div class="row">
                        <!--begin:Col-->
                        <div class="col-lg-12 mb-3 mb-lg-0 py-3 px-3 py-lg-6 px-lg-6">
                            <!--begin:Row-->
                            <div class="row">
                                <!--begin:Col-->
                                {% if perms.dashboards.view_pieza %}
                                    <div class="col-lg-6 mb-3">
                                        <!--begin:Menu item-->
                                        <div class="menu-item p-0 m-0">
                                            <!--begin:Menu link-->
                                            <a href="{% url 'dashboards:lista_pieza' %}"
                                               class="menu-link {% if 'pieza' in request.path %}active{% endif %}">
																				<span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
																					<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
																					<span class="svg-icon svg-icon-primary svg-icon-1">
																						<svg width="24" height="24"
                                                                                             viewBox="0 0 24 24"
                                                                                             fill="none"
                                                                                             xmlns="http://www.w3.org/2000/svg">
																							<rect x="2" y="2" width="9"
                                                                                                  height="9" rx="2"
                                                                                                  fill="currentColor"/>
																							<rect opacity="0.3" x="13"
                                                                                                  y="2" width="9"
                                                                                                  height="9" rx="2"
                                                                                                  fill="currentColor"/>
																							<rect opacity="0.3" x="13"
                                                                                                  y="13" width="9"
                                                                                                  height="9" rx="2"
                                                                                                  fill="currentColor"/>
																							<rect opacity="0.3" x="2"
                                                                                                  y="13" width="9"
                                                                                                  height="9" rx="2"
                                                                                                  fill="currentColor"/>
																						</svg>
																					</span>
                                                                                    <!--end::Svg Icon-->
																				</span>
                                                <span class="d-flex flex-column">
																					<span class="fs-6 fw-bold text-gray-800">Piezas</span>
																					<span class="fs-7 fw-semibold text-muted">Listado de todos las piezas</span>
																				</span>
                                            </a>
                                            <!--end:Menu link-->
                                        </div>
                                        <!--end:Menu item-->
                                    </div>
                                {% else %}{% endif %}
                                {% if perms.dashboards.view_parte %}
                                    <div class="col-lg-6 mb-3">
                                        <!--begin:Menu item-->
                                        <div class="menu-item p-0 m-0">
                                            <!--begin:Menu link-->
                                            <a href="{% url 'dashboards:lista_parte' %}"
                                               class="menu-link {% if 'parte' in request.path %}active{% endif %}">
																				<span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
																					<!--begin::Svg Icon | path: icons/duotune/graphs/gra001.svg-->
																					<span class="svg-icon svg-icon-success svg-icon-1">
																						<svg width="24" height="24"
                                                                                             viewBox="0 0 24 24"
                                                                                             fill="none"
                                                                                             xmlns="http://www.w3.org/2000/svg">
																							<rect x="2" y="2" width="9"
                                                                                                  height="9" rx="2"
                                                                                                  fill="currentColor"/>
																							<rect opacity="0.3" x="13"
                                                                                                  y="2" width="9"
                                                                                                  height="9" rx="2"
                                                                                                  fill="currentColor"/>
																							<rect opacity="0.3" x="13"
                                                                                                  y="13" width="9"
                                                                                                  height="9" rx="2"
                                                                                                  fill="currentColor"/>
																							<rect opacity="0.3" x="2"
                                                                                                  y="13" width="9"
                                                                                                  height="9" rx="2"
                                                                                                  fill="currentColor"/>
																						</svg>
																					</span>
                                                                                    <!--end::Svg Icon-->
																				</span>
                                                <span class="d-flex flex-column">
																					<span class="fs-6 fw-bold text-gray-800">Parte</span>
																					<span class="fs-7 fw-semibold text-muted">Listado de todas las piezas</span>
																				</span>
                                            </a>
                                            <!--end:Menu link-->
                                        </div>
                                        <!--end:Menu item-->
                                    </div>
                                {% else %}{% endif %}
                            </div>
                            <!--end:Row-->
                            {#                        <div class="separator separator-dashed mx-5 my-5"></div>#}
                            {#                        <!--begin:Landing-->#}
                            {#                        <div class="d-flex flex-stack flex-wrap flex-lg-nowrap gap-2 mx-5">#}
                            {#                            <div class="d-flex flex-column me-5">#}
                            {#                                <div class="fs-6 fw-bold text-gray-800">Reportes#}
                            {#                                </div>#}
                            {#                                <div class="fs-7 fw-semibold text-muted">Obtenga graficos y reportes#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <a href="../../demo48/dist/landing.html"#}
                            {#                               class="btn btn-sm btn-primary fw-bold">Entrar</a>#}
                            {#                        </div>#}
                            <!--end:Landing-->
                        </div>
                        <!--end:Col-->
                        <!--begin:Col-->

                    </div>
                    <!--end:Row-->
                </div>
                <!--end:Dashboards menu-->
            </div><!--end:Menu sub-->
        </div>
    {% else %}{% endif %}


</div>
